*{
    margin:0;
    padding:0;
}
body{
    background-color: lightgray;
    padding: 15px !important;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: rgba(255, 205, 205, 0.616);
    padding: 10px;
}
img{
    width: 282px;
    height: 75px;
}
main{
    padding: 35px;
    height: 100% ;
    position: relative;
    top: 100px;
}
footer{
    position:fixed;
    bottom:0;
    left:0;
    z-index:10;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 205, 205, 0.616);
    padding: 10px 30px;
}
div{
    display: inline-block;
    border: 2px solid red;
    margin: 8px !important;
    padding: 2px;
}
table{
    top: -100px !important;
    border: 1px solid black;
    border-collapse: collapse;
}
table td{
    border: 1px solid black;
    padding: 7px;
}
h1{
    position: absolute;
    top: 20px;
    left: 550px;
}
h2{
    position: absolute;
    top: 55px;
    left: 330px;
}
.t{
    margin-top: -650px;
}